In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [ ]:
Web Scrapping cleaning of Covid-19 data of World:

source: https://www.worldometers.info/coronavirus

In [2]:
url="https://www.worldometers.info/coronavirus/"

In [3]:
response=requests.get(url)

In [4]:
print(response)

<Response [200]>

In [5]:
soup=BeautifulSoup(response.content,"html.parser")

In [6]:
soup.title

In [7]:
divs=soup.find("div",class_="panel_flip")
for i in divs.find_all("div" , class_="panel_front"):
    print(i.text)

5,026,910
Currently Infected Patients


4,967,336 (99%)
in Mild Condition

59,574 (1%)
Serious or Critical


Show Graph

In [8]:
coronatable=soup.find_all("table")

In [9]:
len(coronatable)

3

In [10]:
co=coronatable[0]

In [11]:
country=[]
total_cases=[]
new_cases=[]
total_deaths=[]
new_deaths=[]
total_recovered=[]
active_cases=[]
serious_critical=[]
tot_cases_1M_pop=[]
deaths_1M_pop=[]
total_tests=[]
tests_1M_pop=[]
population=[]


rows=co.find_all("tr")[9:-8]
for row in rows:
    cell=row.find_all("td")
    country.append(cell[1].text.strip())
    total_cases.append(cell[2].text.strip())
    new_cases.append(cell[3].text.strip())
    total_deaths.append(cell[4].text.strip())
    new_deaths.append(cell[5].text.strip())
    total_recovered.append(cell[6].text.strip())
    active_cases.append(cell[7].text.strip())
    serious_critical.append(cell[8].text.strip())
    tot_cases_1M_pop.append(cell[9].text.strip())
    deaths_1M_pop.append(cell[10].text.strip())
    total_tests.append(cell[11].text.strip())
    tests_1M_pop.append(cell[12].text.strip())
    population.append(cell[13].text.strip())
    
    
print(country)
print(total_cases)
print(new_cases)
print(total_deaths)
print(new_deaths)
print(total_recovered)
print(active_cases)
print(serious_critical)
print(tot_cases_1M_pop)
print(deaths_1M_pop)
print(total_tests)
print(tests_1M_pop)
print(population)

['USA', 'Brazil', 'India', 'Russia', 'Peru', 'Chile', 'Mexico', 'Spain', 'South Africa', 'UK', 'Iran', 'Pakistan', 'Italy', 'Saudi Arabia', 'Turkey', 'Germany', 'Bangladesh', 'France', 'Colombia', 'Canada', 'Argentina', 'Qatar', 'Egypt', 'Iraq', 'Indonesia', 'Sweden', 'Ecuador', 'Belarus', 'Belgium', 'Kazakhstan', 'Oman', 'Philippines', 'Kuwait', 'UAE', 'Ukraine', 'Netherlands', 'Bolivia', 'Panama', 'Portugal', 'Singapore', 'Dominican Republic', 'Israel', 'Poland', 'Afghanistan', 'Bahrain', 'Nigeria', 'Romania', 'Switzerland', 'Armenia', 'Guatemala', 'Honduras', 'Ireland', 'Azerbaijan', 'Ghana', 'Japan', 'Algeria', 'Moldova', 'Austria', 'Serbia', 'Nepal', 'Morocco', 'Cameroon', 'Uzbekistan', 'S. Korea', 'Czechia', 'Denmark', 'Ivory Coast', 'Kyrgyzstan', 'Kenya', 'Sudan', 'El Salvador', 'Australia', 'Venezuela', 'Norway', 'Malaysia', 'Costa Rica', 'North Macedonia', 'Senegal', 'DRC', 'Ethiopia', 'Bulgaria', 'Finland', 'Bosnia and Herzegovina', 'Palestine', 'Haiti', 'Tajikistan', 'French Guiana', 'Guinea', 'Gabon', 'Mauritania', 'Madagascar', 'Luxembourg', 'Djibouti', 'CAR', 'Hungary', 'Greece', 'Croatia', 'Albania', 'Thailand', 'Nicaragua', 'Somalia', 'Paraguay', 'Equatorial Guinea', 'Maldives', 'Mayotte', 'Sri Lanka', 'Malawi', 'Lebanon', 'Cuba', 'Mali', 'South Sudan', 'Congo', 'Estonia', 'Slovakia', 'Iceland', 'Zambia', 'Lithuania', 'Slovenia', 'Guinea-Bissau', 'Cabo Verde', 'Sierra Leone', 'Hong Kong', 'Libya', 'New Zealand', 'Yemen', 'Eswatini', 'Rwanda', 'Benin', 'Tunisia', 'Montenegro', 'Mozambique', 'Jordan', 'Latvia', 'Niger', 'Zimbabwe', 'Uganda', 'Burkina Faso', 'Liberia', 'Cyprus', 'Georgia', 'Uruguay', 'Chad', 'Namibia', 'Andorra', 'Suriname', 'Jamaica', 'Sao Tome and Principe', 'Togo', 'Diamond Princess', 'San Marino', 'Malta', 'Réunion', 'Channel Islands', 'Angola', 'Tanzania', 'Taiwan', 'Syria', 'Botswana', 'Vietnam', 'Mauritius', 'Myanmar', 'Isle of Man', 'Comoros', 'Guyana', 'Burundi', 'Lesotho', 'Martinique', 'Mongolia', 'Eritrea', 'Cayman Islands', 'Guadeloupe', 'Faeroe Islands', 'Gibraltar', 'Cambodia', 'Bermuda', 'Brunei', 'Trinidad and Tobago', 'Bahamas', 'Monaco', 'Aruba', 'Barbados', 'Seychelles', 'Liechtenstein', 'Bhutan', 'Sint Maarten', 'Antigua and Barbuda', 'Turks and Caicos', 'Gambia', 'French Polynesia', 'Macao', 'Saint Martin', 'Belize', 'St. Vincent Grenadines', 'Fiji', 'Curaçao', 'Timor-Leste', 'Grenada', 'Saint Lucia', 'New Caledonia', 'Laos', 'Dominica', 'Saint Kitts and Nevis', 'Falkland Islands', 'Greenland', 'Montserrat', 'Vatican City', 'Papua New Guinea', 'Western Sahara', 'MS Zaandam', 'British Virgin Islands', 'Caribbean Netherlands', 'St. Barth', 'Anguilla', 'Saint Pierre Miquelon', 'China']
['3,545,077', '1,931,204', '937,487', '739,947', '333,867', '319,493', '311,486', '303,699', '298,292', '291,373', '262,173', '253,604', '243,344', '237,803', '214,993', '200,766', '190,057', '172,377', '159,898', '108,486', '106,910', '104,533', '83,930', '81,757', '78,572', '76,001', '68,459', '65,269', '62,781', '61,755', '59,568', '57,545', '56,174', '55,573', '54,771', '51,146', '49,250', '48,096', '47,051', '46,630', '46,305', '42,360', '38,457', '34,740', '34,078', '33,616', '33,585', '33,016', '32,490', '30,872', '28,579', '25,670', '25,113', '24,988', '22,220', '20,216', '19,708', '19,021', '18,983', '17,061', '16,097', '15,173', '14,085', '13,512', '13,341', '13,061', '13,037', '11,444', '10,791', '10,417', '10,303', '10,250', '10,010', '9,001', '8,729', '8,482', '8,332', '8,243', '8,135', '7,969', '7,645', '7,301', '6,981', '6,764', '6,727', '6,643', '6,229', '6,200', '6,026', '5,518', '5,343', '5,056', '4,979', '4,356', '4,258', '3,883', '3,827', '3,667', '3,227', '3,147', '3,076', '3,074', '3,071', '2,801', '2,724', '2,665', '2,497', '2,451', '2,432', '2,423', '2,148', '2,028', '2,015', '1,908', '1,905', '1,895', '1,875', '1,859', '1,842', '1,722', '1,651', '1,570', '1,563', '1,547', '1,516', '1,434', '1,416', '1,378', '1,306', '1,287', '1,268', '1,198', '1,174', '1,099', '1,064', '1,040', '1,037', '1,024', '1,023', '999', '997', '884', '864', '861', '801', '762', '732', '731', '712', '699', '674', '599', '581', '541', '509', '451', '439', '399', '373', '342', '337', '336', '321', '308', '269', '256', '255', '243', '232', '203', '190', '188', '180', '165', '150', '141', '133', '113', '109', '106', '103', '100', '84', '84', '78', '74', '72', '64', '62', '46', '43', '39', '35', '26', '25', '24', '23', '22', '21', '19', '18', '17', '13', '13', '12', '12', '11', '10', '9', '8', '7', '6', '3', '2', '83,611']
['', '', '', '', '', '', '+7,051', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '+2', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '+3', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '+6']
['139,143', '74,262', '24,315', '11,614', '12,229', '7,069', '36,327', '28,409', '4,346', '44,968', '13,211', '5,320', '34,984', '2,283', '5,402', '9,144', '2,424', '30,029', '5,625', '8,798', '1,968', '150', '4,008', '3,345', '3,710', '5,545', '5,063', '474', '9,787', '375', '273', '1,603', '396', '335', '1,412', '6,135', '1,866', '960', '1,668', '27', '910', '371', '1,588', '1,048', '111', '754', '1,931', '1,968', '581', '1,302', '789', '1,746', '319', '139', '982', '1,028', '655', '709', '418', '38', '257', '359', '67', '289', '355', '610', '87', '149', '202', '659', '278', '108', '96', '253', '122', '36', '389', '150', '190', '139', '283', '329', '226', '44', '141', '56', '31', '38', '46', '147', '39', '111', '56', '53', '595', '193', '120', '97', '58', '99', '93', '25', '51', '14', '37', '11', '40', '37', '87', '121', '41', '47', '69', '28', '10', '42', '79', '111', '26', '19', '64', '8', '42', '22', '429', '20', '4', '26', '50', '24', '9', '10', '31', '68', '20', '', '53', '51', '19', '15', '31', '75', '2', '52', '18', '10', '14', '15', '13', '42', '9', '3', '47', '26', '21', '7', '21', '1', '', '10', '6', '24', '7', '17', '1', '3', '15', '', '', '1', '14', '', '', '', '9', '3', '8', '11', '4', '3', '7', '', '1', '', '15', '3', '2', '3', '', '', '3', '2', '', '', '1', '', '', '', '', '', '', '', '', '', '1', '', '', '1', '2', '1', '', '', '', '', '4,634']
['', '', '', '', '', '', '+836', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']
['1,600,195', '1,213,512', '593,080', '512,825', '223,261', '289,220', '193,976', 'N/A', '146,279', 'N/A', '225,270', '170,656', '195,441', '177,560', '196,720', '185,500', '103,227', '78,597', '68,806', '72,170', '45,467', '101,160', '25,544', '50,782', '37,636', 'N/A', '30,369', '55,799', '17,223', '35,911', '37,987', '20,459', '46,161', '46,025', '27,154', 'N/A', '15,294', '24,663', '31,550', '42,737', '23,134', '19,665', '27,756', '21,454', '29,753', '13,792', '21,803', '29,800', '20,729', '4,453', '3,123', '23,364', '16,150', '21,067', '18,282', '14,295', '13,033', '17,073', '13,991', '10,328', '13,442', '11,928', '8,327', '12,282', '8,441', '12,160', '6,908', '3,538', '3,017', '5,579', '5,919', '7,835', '2,671', '8,138', '8,524', '2,441', '4,468', '5,580', '3,948', '2,430', '3,663', '6,800', '3,179', '1,084', '3,022', '5,332', '3,472', '4,951', '3,475', '2,664', '2,646', '4,195', '4,743', '1,229', '3,106', '1,374', '2,558', '2,062', '3,091', '2,282', '1,380', '1,308', '842', '2,302', '2,480', '1,988', '795', '1,452', '2,275', '1,748', '333', '589', '1,897', '1,493', '1,882', '1,412', '1,571', '1,488', '773', '772', '1,190', '1,229', '370', '1,498', '685', '695', '737', '557', '1,087', '330', '373', '1,013', '1,022', '992', '343', '984', '873', '439', '839', '870', '905', '798', '29', '803', '543', '643', '286', '528', '651', '656', '660', '472', '512', '118', '183', '440', '138', '38', '352', '330', '261', '312', '302', '156', '207', '48', '98', '204', '107', '200', '157', '188', '179', '133', '137', '138', '124', '91', '97', '99', '90', '11', '81', '78', '63', '57', '12', '34', '60', '45', '37', '21', '29', '18', '24', '24', '23', '19', '21', '19', '18', '15', '13', '13', '10', '12', '8', '8', '', '7', '7', '6', '3', '1', '78,693']
['', '', '', '', '', '', '+4,913', 'N/A', '', 'N/A', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'N/A', '', '', '', '', '', '', '', '', '', 'N/A', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '+15', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '+19']
['1,805,739', '643,430', '320,092', '215,508', '98,377', '23,204', '81,183', 'N/A', '147,667', 'N/A', '23,692', '77,628', '12,919', '57,960', '12,871', '6,122', '84,406', '63,751', '85,467', '27,518', '59,475', '3,223', '54,378', '27,630', '37,226', 'N/A', '33,027', '8,996', '35,771', '25,469', '21,308', '35,483', '9,617', '9,213', '26,205', 'N/A', '32,090', '22,473', '13,833', '3,866', '22,261', '22,324', '9,113', '12,238', '4,214', '19,070', '9,851', '1,248', '11,180', '25,117', '24,667', '560', '8,644', '3,782', '2,956', '4,893', '6,020', '1,239', '4,574', '6,695', '2,398', '2,886', '5,691', '941', '4,545', '291', '6,042', '7,757', '7,572', '4,179', '4,106', '2,307', '7,243', '610', '83', '6,005', '3,475', '2,513', '3,997', '5,400', '3,699', '172', '3,576', '5,636', '3,564', '1,255', '2,726', '1,211', '2,505', '2,707', '2,658', '750', '180', '3,074', '557', '2,316', '1,149', '1,508', '78', '766', '1,603', '1,741', '2,178', '485', '207', '666', '1,662', '962', '70', '554', '1,774', '1,392', '49', '387', '13', '441', '225', '260', '1,043', '931', '397', '333', '1,151', '27', '402', '719', '675', '795', '169', '933', '886', '175', '121', '39', '701', '56', '111', '534', '165', '114', '61', '11', '833', '6', '240', '109', '432', '188', '48', '1', '5', '124', '22', '397', '305', '4', '280', '360', '21', '2', '70', '0', '12', '135', '61', '205', '142', '39', '125', '2', '19', '0', '1', '32', '4', '0', '1', '11', '8', '4', '6', '89', '2', '6', '0', '14', '58', '27', '2', '1', '3', '16', '6', '8', '0', '0', '0', '3', '0', '0', '0', '2', '0', '0', '1', '0', '3', '1', '7', '0', '0', '0', '0', '1', '284']
['16,337', '8,318', '8,944', '2,300', '1,325', '1,915', '378', '617', '539', '162', '3,389', '2,151', '60', '2,235', '1,204', '264', '1', '492', '875', '2,170', '752', '137', '41', '412', '', '81', '308', '89', '23', '221', '149', '333', '156', '1', '104', '20', '71', '157', '69', '', '226', '183', '74', '31', '51', '7', '234', '19', '10', '5', '58', '9', '66', '8', '40', '61', '358', '9', '170', '', '31', '52', '43', '15', '21', '3', '', '24', '44', '', '357', '28', '25', '1', '6', '30', '55', '36', '', '35', '27', '1', '4', '', '', '', '25', '24', '11', '5', '45', '3', '', '2', '5', '13', '5', '10', '1', '', '2', '10', '', '12', '3', '1', '4', '20', '2', '', '', '', '1', '3', '', '1', '15', '1', '5', '', '', '6', '', '', '', '5', '', '1', '', '7', '', '3', '1', '', '', '', '', '', '', '5', '', '', '1', '', '6', '', '', '2', '4', '', '', '3', '', '6', '7', '', '', '1', '1', '', '', '', '', '5', '', '', '5', '3', '', '', '4', '', '', '1', '1', '', '', '1', '', '', '', '', '', '', '', '1', '4', '', '', '', '1', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '3']
['10,708', '9,083', '679', '5,070', '10,121', '16,708', '2,415', '6,495', '5,027', '4,291', '3,120', '1,147', '4,025', '6,827', '2,548', '2,396', '1,154', '2,641', '3,141', '2,873', '2,365', '37,229', '820', '2,031', '287', '7,524', '3,878', '6,907', '5,416', '3,288', '11,657', '525', '13,147', '5,617', '1,253', '2,985', '4,217', '11,141', '4,615', '7,968', '4,267', '4,606', '1,016', '892', '20,011', '163', '1,746', '3,814', '10,964', '1,722', '2,884', '5,197', '2,476', '804', '176', '461', '4,886', '2,111', '2,173', '585', '436', '571', '421', '264', '1,246', '2,255', '494', '1,753', '201', '237', '1,588', '402', '352', '1,660', '270', '1,665', '3,999', '492', '91', '69', '1,101', '1,318', '2,128', '1,325', '590', '696', '20,840', '472', '2,706', '1,186', '193', '8,073', '5,037', '901', '441', '373', '932', '1,274', '46', '475', '193', '431', '2,187', '5,179', '9,978', '124', '130', '359', '215', '120', '192', '367', '1,519', '349', '5,581', '103', '689', '894', '935', '3,096', '207', '209', '227', '309', '51', '1,236', '109', '114', '110', '2,049', '41', '117', '623', '45', '72', '23', '50', '202', '847', '250', '287', '54', '340', '11,143', '1,365', '257', '3,338', '88', '', '20,599', '1,526', '669', '3,341', '16', '9', '19', '25', '170', '4', '269', '6', '3,951', '369', '392', '23', '119', '680', '74', '65', '3,087', '475', '3,847', '5,343', '10', '2,409', '322', '95', '287', '2,777', '993', '358', '1,017', '2,203', '109', '1,818', '755', '1,859', '26', '221', '71', '1,111', '98', '315', '29', '152', '18', '204', '120', '74', '3', '250', '319', '3,732', '229', '2,404', '14,981', '1', '17', '', '265', '267', '607', '200', '345', '58']
['420', '349', '18', '80', '371', '370', '282', '608', '73', '662', '157', '24', '579', '66', '64', '109', '15', '460', '111', '233', '44', '53', '39', '83', '14', '549', '287', '50', '844', '20', '53', '15', '93', '34', '32', '358', '160', '222', '164', '5', '84', '40', '42', '27', '65', '4', '100', '227', '196', '73', '80', '353', '31', '4', '8', '23', '162', '79', '48', '1', '7', '14', '2', '6', '33', '105', '3', '23', '4', '15', '43', '4', '3', '47', '4', '7', '187', '9', '2', '1', '41', '59', '69', '9', '12', '6', '104', '3', '21', '32', '1', '177', '57', '11', '62', '19', '29', '34', '0.8', '15', '6', '4', '36', '26', '136', '0.5', '2', '5', '8', '6', '4', '9', '52', '5', '29', '2', '29', '53', '13', '34', '8', '1', '6', '4', '14', '17', '0.3', '2', '4', '38', '0.3', '1.0', '16', '3', '1', '', '3', '10', '16', '4', '9', '5', '0.8', '673', '31', '3', '64', '2', '', '1,238', '20', '3', '270', '0.8', '0.4', '0.3', '1', '0.4', '', '8', '0.1', '282', '8', '22', '0.08', '1', '40', '', '', '15', '35', '', '', '', '145', '7', '6', '28', '102', '28', '24', '', '26', '', '350', '31', '52', '1', '', '', '78', '5', '', '', '6', '', '', '', '', '', '', '', '', '', '200', '', '', '2', '', '33', '', '', '', '', '3']
['44,030,877', '4,572,796', '12,092,503', '23,495,752', '1,963,921', '1,322,503', '756,137', '6,026,446', '2,232,738', '12,270,317', '2,023,079', '1,606,190', '6,004,611', '2,336,874', '4,065,178', '6,376,054', '966,400', '2,489,269', '1,082,415', '3,302,483', '483,799', '420,649', '135,000', '698,012', '1,097,468', '681,820', '183,392', '1,144,696', '1,390,593', '1,719,295', '244,831', '1,017,723', '441,143', '4,000,000', '813,396', '764,079', '108,897', '168,517', '1,366,864', '1,009,532', '189,391', '1,317,362', '1,813,365', '81,252', '685,318', '186,309', '868,478', '690,701', '136,802', '64,590', '49,308', '523,277', '576,249', '331,366', '574,432', '', '101,180', '708,128', '507,002', '606,141', '915,140', '120,837', '1,377,915', '1,420,616', '602,670', '1,257,157', '78,066', '256,698', '221,234', '401', '197,151', '3,156,624', '1,386,563', '383,149', '850,423', '61,216', '79,392', '92,101', '', '250,604', '184,560', '278,800', '111,536', '141,444', '14,544', '', '10,919', '14,407', '49,853', '13,842', '30,100', '292,711', '51,843', '27,561', '296,358', '386,307', '95,920', '29,334', '603,657', '', '', '94,328', '16,000', '63,559', '13,000', '125,632', '21,532', '184,425', '211,427', '16,317', '10,824', '', '112,594', '231,231', '104,713', '56,825', '465,396', '117,241', '1,500', '40,475', '', '376,645', '36,524', '433,324', '120', '17,559', '192,379', '67,622', '79,144', '24,972', '40,861', '477,448', '172,078', '6,658', '93,248', '230,680', '', '', '167,394', '148,188', '81,446', '', '15,439', '3,750', '1,244', '28,603', '1,973', '36,277', '', '5,729', '108,553', '35,419', '21,410', '10,000', '', '78,897', '', '51,379', '275,000', '193,561', '94,168', '7,301', '', '3,379', '6,697', '6,033', '', '27,905', '', '26,919', '11,538', '24,704', '16,532', '46,861', '14,467', '29,841', '5,847', '2,540', '16,200', '4,012', '9,026', '', '900', '36,867', '523', '866', '946', '3,573', '4,649', '4,071', '851', '2,665', '1,213', '4,000', '1,080', '1,568', '5,465', '2,048', '9,218', '20,769', '623', '671', '1,393', '4,789', '61', '', '7,147', '', '', '439', '424', '507', '380', '', '90,410,000']

In [40]:
df=pd.DataFrame(list(zip(country, total_cases, new_cases,total_deaths,new_deaths,total_recovered,active_cases,serious_critical,tot_cases_1M_pop,deaths_1M_pop,total_tests,tests_1M_pop,population)), columns=["Country", "Total_Cases", "New_Cases","Total_Deaths","New_Deaths","Total_Recovered","Active_Cases","Serious_Critical","Total_Cases_1M_Pop","Deaths_1M_Pop","Total_Tests","Tests_1M_Pop","Population"])
df

,Country,Total_Cases,New_Cases,Total_Deaths,New_Deaths,Total_Recovered,Active_Cases,Serious_Critical,Total_Cases_1M_Pop,Deaths_1M_Pop,Total_Tests,Tests_1M_Pop,Population
0,USA,"3,545,077",,"139,143",,"1,600,195",,"1,805,739","16,337","10,708",420,"44,030,877","132,993"
1,Brazil,"1,931,204",,"74,262",,"1,213,512",,"643,430","8,318","9,083",349,"4,572,796","21,507"
2,India,"937,487",,"24,315",,"593,080",,"320,092","8,944",679,18,"12,092,503","8,760"
3,Russia,"739,947",,"11,614",,"512,825",,"215,508","2,300","5,070",80,"23,495,752","160,999"
4,Peru,"333,867",,"12,229",,"223,261",,"98,377","1,325","10,121",371,"1,963,921","59,535"
5,Chile,"319,493",,"7,069",,"289,220",,"23,204","1,915","16,708",370,"1,322,503","69,161"
6,Mexico,"311,486","+7,051","36,327",+836,"193,976","+4,913","81,183",378,"2,415",282,"756,137","5,862"
7,Spain,"303,699",,"28,409",,N/A,N/A,N/A,617,"6,495",608,"6,026,446","128,893"
8,South Africa,"298,292",,"4,346",,"146,279",,"147,667",539,"5,027",73,"2,232,738","37,630"
9,UK,"291,373",,"44,968",,N/A,N/A,N/A,162,"4,291",662,"12,270,317","180,712"
10,Iran,"262,173",,"13,211",,"225,270",,"23,692","3,389","3,120",157,"2,023,079","24,076"
11,Pakistan,"253,604",,"5,320",,"170,656",,"77,628","2,151","1,147",24,"1,606,190","7,267"
12,Italy,"243,344",,"34,984",,"195,441",,"12,919",60,"4,025",579,"6,004,611","99,319"
13,Saudi Arabia,"237,803",,"2,283",,"177,560",,"57,960","2,235","6,827",66,"2,336,874","67,090"
14,Turkey,"214,993",,"5,402",,"196,720",,"12,871","1,204","2,548",64,"4,065,178","48,182"
15,Germany,"200,766",,"9,144",,"185,500",,"6,122",264,"2,396",109,"6,376,054","76,092"
16,Bangladesh,"190,057",,"2,424",,"103,227",,"84,406",1,"1,154",15,"966,400","5,866"
17,France,"172,377",,"30,029",,"78,597",,"63,751",492,"2,641",460,"2,489,269","38,133"
18,Colombia,"159,898",,"5,625",,"68,806",,"85,467",875,"3,141",111,"1,082,415","21,265"
19,Canada,"108,486",,"8,798",,"72,170",,"27,518","2,170","2,873",233,"3,302,483","87,473"
20,Argentina,"106,910",,"1,968",,"45,467",,"59,475",752,"2,365",44,"483,799","10,701"
21,Qatar,"104,533",,150,,"101,160",,"3,223",137,"37,229",53,"420,649","149,814"
22,Egypt,"83,930",,"4,008",,"25,544",,"54,378",41,820,39,"135,000","1,318"
23,Iraq,"81,757",,"3,345",,"50,782",,"27,630",412,"2,031",83,"698,012","17,342"
24,Indonesia,"78,572",,"3,710",,"37,636",,"37,226",,287,14,"1,097,468","4,011"
25,Sweden,"76,001",,"5,545",,N/A,N/A,N/A,81,"7,524",549,"681,820","67,496"
26,Ecuador,"68,459",,"5,063",,"30,369",,"33,027",308,"3,878",287,"183,392","10,389"
27,Belarus,"65,269",,474,,"55,799",,"8,996",89,"6,907",50,"1,144,696","121,142"
28,Belgium,"62,781",,"9,787",,"17,223",,"35,771",23,"5,416",844,"1,390,593","119,966"
29,Kazakhstan,"61,755",,375,,"35,911",,"25,469",221,"3,288",20,"1,719,295","91,527"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,Antigua and Barbuda,74,,3,,57,,14,1,755,31,866,"8,840"
186,Turks and Caicos,72,,2,,12,,58,4,"1,859",52,946,"24,422"
187,Gambia,64,,3,,34,,27,,26,1,"3,573","1,477"
188,French Polynesia,62,,,,60,,2,,221,,"4,649","16,546"
189,Macao,46,,,,45,,1,,71,,"4,071","6,267"
190,Saint Martin,43,,3,,37,,3,1,"1,111",78,851,"21,997"
191,Belize,39,,2,,21,,16,,98,5,"2,665","6,698"
192,St. Vincent Grenadines,35,,,,29,,6,,315,,"1,213","10,932"
193,Fiji,26,,,,18,,8,,29,,"4,000","4,461"
194,Curaçao,25,,1,,24,,0,,152,6,"1,080","6,581"
195,Timor-Leste,24,,,,24,,0,,18,,"1,568","1,189"
196,Grenada,23,,,,23,,0,,204,,"5,465","48,559"
197,Saint Lucia,22,,,,19,,3,,120,,"2,048","11,151"
198,New Caledonia,21,,,,21,,0,,74,,"9,218","32,276"
199,Laos,19,,,,19,,0,,3,,"20,769","2,853"
200,Dominica,18,,,,18,,0,,250,,623,"8,654"
201,Saint Kitts and Nevis,17,,,,15,,2,,319,,671,"12,610"
202,Falkland Islands,13,,,,13,,0,,"3,732",,"1,393","399,943"
203,Greenland,13,,,,13,,0,,229,,"4,789","84,352"
204,Montserrat,12,,1,,10,,1,,"2,404",200,61,"12,220"
205,Vatican City,12,,,,12,,0,,"14,981",,,
206,Papua New Guinea,11,,,,8,,3,,1,,"7,147",798
207,Western Sahara,10,,1,,8,,1,,17,2,,
208,MS Zaandam,9,,2,,,,7,,,,,
209,British Virgin Islands,8,,1,,7,,0,,265,33,439,"14,518"
210,Caribbean Netherlands,7,,,,7,,0,,267,,424,"16,163"
211,St. Barth,6,,,,6,,0,,607,,507,"51,326"
212,Anguilla,3,,,,3,,0,,200,,380,"25,320"
213,Saint Pierre Miquelon,2,,,,1,,1,,345,,,
214,China,"83,611",+6,"4,634",,"78,693",+19,284,3,58,3,"90,410,000","62,814"

In [41]:
df.dtypes

Country               object
Total_Cases           object
New_Cases             object
Total_Deaths          object
New_Deaths            object
Total_Recovered       object
Active_Cases          object
Serious_Critical      object
Total_Cases_1M_Pop    object
Deaths_1M_Pop         object
Total_Tests           object
Tests_1M_Pop          object
Population            object
dtype: object

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 13 columns):
Country               215 non-null object
Total_Cases           215 non-null object
New_Cases             215 non-null object
Total_Deaths          215 non-null object
New_Deaths            215 non-null object
Total_Recovered       215 non-null object
Active_Cases          215 non-null object
Serious_Critical      215 non-null object
Total_Cases_1M_Pop    215 non-null object
Deaths_1M_Pop         215 non-null object
Total_Tests           215 non-null object
Tests_1M_Pop          215 non-null object
Population            215 non-null object
dtypes: object(13)
memory usage: 21.9+ KB

In [43]:
df.replace(r'^\s*$' ,np.nan, regex=True, inplace=True)
df.replace(np.nan,0, inplace=True)
df

,Country,Total_Cases,New_Cases,Total_Deaths,New_Deaths,Total_Recovered,Active_Cases,Serious_Critical,Total_Cases_1M_Pop,Deaths_1M_Pop,Total_Tests,Tests_1M_Pop,Population
0,USA,"3,545,077",0,"139,143",0,"1,600,195",0,"1,805,739","16,337","10,708",420,"44,030,877","132,993"
1,Brazil,"1,931,204",0,"74,262",0,"1,213,512",0,"643,430","8,318","9,083",349,"4,572,796","21,507"
2,India,"937,487",0,"24,315",0,"593,080",0,"320,092","8,944",679,18,"12,092,503","8,760"
3,Russia,"739,947",0,"11,614",0,"512,825",0,"215,508","2,300","5,070",80,"23,495,752","160,999"
4,Peru,"333,867",0,"12,229",0,"223,261",0,"98,377","1,325","10,121",371,"1,963,921","59,535"
5,Chile,"319,493",0,"7,069",0,"289,220",0,"23,204","1,915","16,708",370,"1,322,503","69,161"
6,Mexico,"311,486","+7,051","36,327",+836,"193,976","+4,913","81,183",378,"2,415",282,"756,137","5,862"
7,Spain,"303,699",0,"28,409",0,N/A,N/A,N/A,617,"6,495",608,"6,026,446","128,893"
8,South Africa,"298,292",0,"4,346",0,"146,279",0,"147,667",539,"5,027",73,"2,232,738","37,630"
9,UK,"291,373",0,"44,968",0,N/A,N/A,N/A,162,"4,291",662,"12,270,317","180,712"
10,Iran,"262,173",0,"13,211",0,"225,270",0,"23,692","3,389","3,120",157,"2,023,079","24,076"
11,Pakistan,"253,604",0,"5,320",0,"170,656",0,"77,628","2,151","1,147",24,"1,606,190","7,267"
12,Italy,"243,344",0,"34,984",0,"195,441",0,"12,919",60,"4,025",579,"6,004,611","99,319"
13,Saudi Arabia,"237,803",0,"2,283",0,"177,560",0,"57,960","2,235","6,827",66,"2,336,874","67,090"
14,Turkey,"214,993",0,"5,402",0,"196,720",0,"12,871","1,204","2,548",64,"4,065,178","48,182"
15,Germany,"200,766",0,"9,144",0,"185,500",0,"6,122",264,"2,396",109,"6,376,054","76,092"
16,Bangladesh,"190,057",0,"2,424",0,"103,227",0,"84,406",1,"1,154",15,"966,400","5,866"
17,France,"172,377",0,"30,029",0,"78,597",0,"63,751",492,"2,641",460,"2,489,269","38,133"
18,Colombia,"159,898",0,"5,625",0,"68,806",0,"85,467",875,"3,141",111,"1,082,415","21,265"
19,Canada,"108,486",0,"8,798",0,"72,170",0,"27,518","2,170","2,873",233,"3,302,483","87,473"
20,Argentina,"106,910",0,"1,968",0,"45,467",0,"59,475",752,"2,365",44,"483,799","10,701"
21,Qatar,"104,533",0,150,0,"101,160",0,"3,223",137,"37,229",53,"420,649","149,814"
22,Egypt,"83,930",0,"4,008",0,"25,544",0,"54,378",41,820,39,"135,000","1,318"
23,Iraq,"81,757",0,"3,345",0,"50,782",0,"27,630",412,"2,031",83,"698,012","17,342"
24,Indonesia,"78,572",0,"3,710",0,"37,636",0,"37,226",0,287,14,"1,097,468","4,011"
25,Sweden,"76,001",0,"5,545",0,N/A,N/A,N/A,81,"7,524",549,"681,820","67,496"
26,Ecuador,"68,459",0,"5,063",0,"30,369",0,"33,027",308,"3,878",287,"183,392","10,389"
27,Belarus,"65,269",0,474,0,"55,799",0,"8,996",89,"6,907",50,"1,144,696","121,142"
28,Belgium,"62,781",0,"9,787",0,"17,223",0,"35,771",23,"5,416",844,"1,390,593","119,966"
29,Kazakhstan,"61,755",0,375,0,"35,911",0,"25,469",221,"3,288",20,"1,719,295","91,527"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,Antigua and Barbuda,74,0,3,0,57,0,14,1,755,31,866,"8,840"
186,Turks and Caicos,72,0,2,0,12,0,58,4,"1,859",52,946,"24,422"
187,Gambia,64,0,3,0,34,0,27,0,26,1,"3,573","1,477"
188,French Polynesia,62,0,0,0,60,0,2,0,221,0,"4,649","16,546"
189,Macao,46,0,0,0,45,0,1,0,71,0,"4,071","6,267"
190,Saint Martin,43,0,3,0,37,0,3,1,"1,111",78,851,"21,997"
191,Belize,39,0,2,0,21,0,16,0,98,5,"2,665","6,698"
192,St. Vincent Grenadines,35,0,0,0,29,0,6,0,315,0,"1,213","10,932"
193,Fiji,26,0,0,0,18,0,8,0,29,0,"4,000","4,461"
194,Curaçao,25,0,1,0,24,0,0,0,152,6,"1,080","6,581"
195,Timor-Leste,24,0,0,0,24,0,0,0,18,0,"1,568","1,189"
196,Grenada,23,0,0,0,23,0,0,0,204,0,"5,465","48,559"
197,Saint Lucia,22,0,0,0,19,0,3,0,120,0,"2,048","11,151"
198,New Caledonia,21,0,0,0,21,0,0,0,74,0,"9,218","32,276"
199,Laos,19,0,0,0,19,0,0,0,3,0,"20,769","2,853"
200,Dominica,18,0,0,0,18,0,0,0,250,0,623,"8,654"
201,Saint Kitts and Nevis,17,0,0,0,15,0,2,0,319,0,671,"12,610"
202,Falkland Islands,13,0,0,0,13,0,0,0,"3,732",0,"1,393","399,943"
203,Greenland,13,0,0,0,13,0,0,0,229,0,"4,789","84,352"
204,Montserrat,12,0,1,0,10,0,1,0,"2,404",200,61,"12,220"
205,Vatican City,12,0,0,0,12,0,0,0,"14,981",0,0,0
206,Papua New Guinea,11,0,0,0,8,0,3,0,1,0,"7,147",798
207,Western Sahara,10,0,1,0,8,0,1,0,17,2,0,0
208,MS Zaandam,9,0,2,0,0,0,7,0,0,0,0,0
209,British Virgin Islands,8,0,1,0,7,0,0,0,265,33,439,"14,518"
210,Caribbean Netherlands,7,0,0,0,7,0,0,0,267,0,424,"16,163"
211,St. Barth,6,0,0,0,6,0,0,0,607,0,507,"51,326"
212,Anguilla,3,0,0,0,3,0,0,0,200,0,380,"25,320"
213,Saint Pierre Miquelon,2,0,0,0,1,0,1,0,345,0,0,0
214,China,"83,611",+6,"4,634",0,"78,693",+19,284,3,58,3,"90,410,000","62,814"

In [57]:


#Removing special characters from the col 

total_cases1=[]
for i in df["Total_Cases"]:
    s=str(i)
    s1=s.replace(",","")
    s2=int(s1)
    total_cases1.append(s2)
    
# print(total_cases1)


new_cases1=[]
for i in df["New_Cases"]:
    s=str(i)
    s1=s.replace("+","")
    s2=s1.replace(",","")
    s3=int(s2)
    new_cases1.append(s3)
    
    
# print(new_cases1)


total_deaths1=[]
for i in df["Total_Deaths"]:
    s=str(i)
    s1=s.replace(",","")
    s2=int(s1)
    total_deaths1.append(s2)
    
# print(total_deaths1)


new_deaths1=[]
for i in df["New_Deaths"]:
    s=str(i)
    s1=s.replace(",","")
    s2=int(s1)
    new_deaths1.append(s2)
    
# print(new_deaths1)


total_recovered1=[]
for i in df["Total_Recovered"]:
    s=str(i)
    s1=s.replace(",","")
    s2=int(s1)
    total_recovered1.append(s2)
    
# print(total_recovered1)


# Replace the N/A values with zero in active_cases1 col
df.replace('N/A',np.nan,inplace=True)
df.replace(np.nan,0,inplace=True)


active_cases1=[]
for i in df["Active_Cases"]:
    s=str(i)
    s1=s.replace("+","")
    s2=s1.replace(",","")
    s3=int(s2)
    active_cases1.append(s3)
    
    
# print(active_cases1)


serious_critical1=[]
for i in df["Serious_Critical"]:
    s=str(i)
    s1=s.replace(",","")
    s2=int(s1)
    serious_critical1.append(s2)
    
# print(serious_critical1)
    
total_cases_1m_pop1=[]
for i in df["Total_Cases_1M_Pop"]:
    s=str(i)
    s1=s.replace(",","")
    s2=int(s1)
    total_cases_1m_pop1.append(s2)
    
# print(total_cases_1m_pop1)
    
deaths_1m_pop1=[]
for i in df["Deaths_1M_Pop"]:
    s=str(i)
    s1=s.replace(",","")
    s2=int(s1)
    deaths_1m_pop1.append(s2)
    
# print(deaths_1m_pop1)
    
# Total_Tests has no commas only 3 didgits in col
    
    
tests_1m_pop1=[]
for i in df["Tests_1M_Pop"]:
    s=str(i)
    s1=s.replace(",","")
    s2=int(s1)
    tests_1m_pop1.append(s2)
    
# print(tests_1m_pop1)
    
    
population1=[]
for i in df["Population"]:
    s=str(i)
    s1=s.replace(",","")
    s2=int(s1)
    population1.append(s2)
    
# print(population1)

In [58]:
df=pd.DataFrame(list(zip(country, total_cases1, new_cases1,total_deaths1,new_deaths1,total_recovered1,active_cases1,serious_critical1,total_cases_1m_pop1,deaths_1m_pop1,total_tests,tests_1m_pop1,population1)), columns=["Country", "Total_Cases", "New_Cases","Total_Deaths","New_Deaths","Total_Recovered","Active_Cases","Serious_Critical","Total_Cases_1M_Pop","Deaths_1M_Pop","Total_Tests","Tests_1M_Pop","Population"])
df

,Country,Total_Cases,New_Cases,Total_Deaths,New_Deaths,Total_Recovered,Active_Cases,Serious_Critical,Total_Cases_1M_Pop,Deaths_1M_Pop,Total_Tests,Tests_1M_Pop,Population
0,USA,3545077,0,139143,0,1600195,0,1805739,16337,10708,420,44030877,132993
1,Brazil,1931204,0,74262,0,1213512,0,643430,8318,9083,349,4572796,21507
2,India,937487,0,24315,0,593080,0,320092,8944,679,18,12092503,8760
3,Russia,739947,0,11614,0,512825,0,215508,2300,5070,80,23495752,160999
4,Peru,333867,0,12229,0,223261,0,98377,1325,10121,371,1963921,59535
5,Chile,319493,0,7069,0,289220,0,23204,1915,16708,370,1322503,69161
6,Mexico,311486,7051,36327,836,193976,4913,81183,378,2415,282,756137,5862
7,Spain,303699,0,28409,0,0,0,0,617,6495,608,6026446,128893
8,South Africa,298292,0,4346,0,146279,0,147667,539,5027,73,2232738,37630
9,UK,291373,0,44968,0,0,0,0,162,4291,662,12270317,180712
10,Iran,262173,0,13211,0,225270,0,23692,3389,3120,157,2023079,24076
11,Pakistan,253604,0,5320,0,170656,0,77628,2151,1147,24,1606190,7267
12,Italy,243344,0,34984,0,195441,0,12919,60,4025,579,6004611,99319
13,Saudi Arabia,237803,0,2283,0,177560,0,57960,2235,6827,66,2336874,67090
14,Turkey,214993,0,5402,0,196720,0,12871,1204,2548,64,4065178,48182
15,Germany,200766,0,9144,0,185500,0,6122,264,2396,109,6376054,76092
16,Bangladesh,190057,0,2424,0,103227,0,84406,1,1154,15,966400,5866
17,France,172377,0,30029,0,78597,0,63751,492,2641,460,2489269,38133
18,Colombia,159898,0,5625,0,68806,0,85467,875,3141,111,1082415,21265
19,Canada,108486,0,8798,0,72170,0,27518,2170,2873,233,3302483,87473
20,Argentina,106910,0,1968,0,45467,0,59475,752,2365,44,483799,10701
21,Qatar,104533,0,150,0,101160,0,3223,137,37229,53,420649,149814
22,Egypt,83930,0,4008,0,25544,0,54378,41,820,39,135000,1318
23,Iraq,81757,0,3345,0,50782,0,27630,412,2031,83,698012,17342
24,Indonesia,78572,0,3710,0,37636,0,37226,0,287,14,1097468,4011
25,Sweden,76001,0,5545,0,0,0,0,81,7524,549,681820,67496
26,Ecuador,68459,0,5063,0,30369,0,33027,308,3878,287,183392,10389
27,Belarus,65269,0,474,0,55799,0,8996,89,6907,50,1144696,121142
28,Belgium,62781,0,9787,0,17223,0,35771,23,5416,844,1390593,119966
29,Kazakhstan,61755,0,375,0,35911,0,25469,221,3288,20,1719295,91527
...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,Antigua and Barbuda,74,0,3,0,57,0,14,1,755,31,866,8840
186,Turks and Caicos,72,0,2,0,12,0,58,4,1859,52,946,24422
187,Gambia,64,0,3,0,34,0,27,0,26,1,3573,1477
188,French Polynesia,62,0,0,0,60,0,2,0,221,,4649,16546
189,Macao,46,0,0,0,45,0,1,0,71,,4071,6267
190,Saint Martin,43,0,3,0,37,0,3,1,1111,78,851,21997
191,Belize,39,0,2,0,21,0,16,0,98,5,2665,6698
192,St. Vincent Grenadines,35,0,0,0,29,0,6,0,315,,1213,10932
193,Fiji,26,0,0,0,18,0,8,0,29,,4000,4461
194,Curaçao,25,0,1,0,24,0,0,0,152,6,1080,6581
195,Timor-Leste,24,0,0,0,24,0,0,0,18,,1568,1189
196,Grenada,23,0,0,0,23,0,0,0,204,,5465,48559
197,Saint Lucia,22,0,0,0,19,0,3,0,120,,2048,11151
198,New Caledonia,21,0,0,0,21,0,0,0,74,,9218,32276
199,Laos,19,0,0,0,19,0,0,0,3,,20769,2853
200,Dominica,18,0,0,0,18,0,0,0,250,,623,8654
201,Saint Kitts and Nevis,17,0,0,0,15,0,2,0,319,,671,12610
202,Falkland Islands,13,0,0,0,13,0,0,0,3732,,1393,399943
203,Greenland,13,0,0,0,13,0,0,0,229,,4789,84352
204,Montserrat,12,0,1,0,10,0,1,0,2404,200,61,12220
205,Vatican City,12,0,0,0,12,0,0,0,14981,,0,0
206,Papua New Guinea,11,0,0,0,8,0,3,0,1,,7147,798
207,Western Sahara,10,0,1,0,8,0,1,0,17,2,0,0
208,MS Zaandam,9,0,2,0,0,0,7,0,0,,0,0
209,British Virgin Islands,8,0,1,0,7,0,0,0,265,33,439,14518
210,Caribbean Netherlands,7,0,0,0,7,0,0,0,267,,424,16163
211,St. Barth,6,0,0,0,6,0,0,0,607,,507,51326
212,Anguilla,3,0,0,0,3,0,0,0,200,,380,25320
213,Saint Pierre Miquelon,2,0,0,0,1,0,1,0,345,,0,0
214,China,83611,6,4634,0,78693,19,284,3,58,3,90410000,62814

Web Scrapping cleaning of Covid-19 data for India:

source: https://www.mohfw.gov.in

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [2]:
url=" https://www.mohfw.gov.in/"

In [3]:
response=requests.get(url)

In [4]:
print(response)

<Response [200]>

In [5]:
soup=BeautifulSoup(response.content, "html.parser")

In [6]:
soup.title

In [7]:
coronatable_india=soup.find_all("table")

In [8]:
print(coronatable_india)

[<table border="1" cellpadding="1" cellspacing="1" class="table table-striped" style="font-weight:bold">
<thead>
<tr>
<th><strong>S. No.</strong></th>
<th><strong>Name of State / UT</strong></th>
<th><strong>Active Cases*</strong></th>
<th><strong>Cured/Discharged/Migrated*</strong></th>
<th><strong>Deaths**</strong></th>
<th><strong>Total Confirmed cases*</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>Andaman and Nicobar Islands</td>
<td>47</td>
<td>133</td>
<td>0</td>
<td>180</td>
</tr>
<tr>
<td>2</td>
<td>Andhra Pradesh</td>
<td>18159</td>
<td>19393</td>
<td>492</td>
<td>38044</td>
</tr>
<tr>
<td>3</td>
<td>Arunachal Pradesh</td>
<td>387</td>
<td>153</td>
<td>3</td>
<td>543</td>
</tr>
<tr>
<td>4</td>
<td>Assam</td>
<td>6818</td>
<td>12888</td>
<td>48</td>
<td>19754</td>
</tr>
<tr>
<td>5</td>
<td>Bihar</td>
<td>7549</td>
<td>14018</td>
<td>197</td>
<td>21764</td>
</tr>
<tr>
<td>6</td>
<td>Chandigarh</td>
<td>164</td>
<td>476</td>
<td>11</td>
<td>651</td>
</tr>
<tr>
<td>7</td>
<td>Chhattisgarh</td>
<td>1260</td>
<td>3451</td>
<td>21</td>
<td>4732</td>
</tr>
<tr>
<td>8</td>
<td>Dadra and Nagar Haveli and Daman and Diu</td>
<td>179</td>
<td>371</td>
<td>2</td>
<td>552</td>
</tr>
<tr>
<td>9</td>
<td>Delhi</td>
<td>17407</td>
<td>97693</td>
<td>3545</td>
<td>118645</td>
</tr>
<tr>
<td>10</td>
<td>Goa</td>
<td>1272</td>
<td>1817</td>
<td>19</td>
<td>3108</td>
</tr>
<tr>
<td>11</td>
<td>Gujarat</td>
<td>11289</td>
<td>32103</td>
<td>2089</td>
<td>45481</td>
</tr>
<tr>
<td>12</td>
<td>Haryana</td>
<td>5495</td>
<td>18185</td>
<td>322</td>
<td>24002</td>
</tr>
<tr>
<td>13</td>
<td>Himachal Pradesh</td>
<td>382</td>
<td>984</td>
<td>11</td>
<td>1377</td>
</tr>
<tr>
<td>14</td>
<td>Jammu and Kashmir</td>
<td>5488</td>
<td>6446</td>
<td>222</td>
<td>12156</td>
</tr>
<tr>
<td>15</td>
<td>Jharkhand</td>
<td>2069</td>
<td>2513</td>
<td>42</td>
<td>4624</td>
</tr>
<tr>
<td>16</td>
<td>Karnataka</td>
<td>30661</td>
<td>19729</td>
<td>1032</td>
<td>51422</td>
</tr>
<tr>
<td>17</td>
<td>Kerala</td>
<td>5376</td>
<td>4862</td>
<td>37</td>
<td>10275</td>
</tr>
<tr>
<td>18</td>
<td>Ladakh</td>
<td>176</td>
<td>970</td>
<td>1</td>
<td>1147</td>
</tr>
<tr>
<td>19</td>
<td>Madhya Pradesh</td>
<td>5562</td>
<td>14127</td>
<td>689</td>
<td>20378</td>
</tr>
<tr>
<td>20</td>
<td>Maharashtra</td>
<td>114947</td>
<td>158140</td>
<td>11194</td>
<td>284281</td>
</tr>
<tr>
<td>21</td>
<td>Manipur</td>
<td>635</td>
<td>1129</td>
<td>0</td>
<td>1764</td>
</tr>
<tr>
<td>22</td>
<td>Meghalaya</td>
<td>309</td>
<td>66</td>
<td>2</td>
<td>377</td>
</tr>
<tr>
<td>23</td>
<td>Mizoram</td>
<td>112</td>
<td>160</td>
<td>0</td>
<td>272</td>
</tr>
<tr>
<td>24</td>
<td>Nagaland</td>
<td>525</td>
<td>391</td>
<td>0</td>
<td>916</td>
</tr>
<tr>
<td>25</td>
<td>Odisha</td>
<td>4436</td>
<td>10877</td>
<td>79</td>
<td>15392</td>
</tr>
<tr>
<td>26</td>
<td>Puducherry</td>
<td>774</td>
<td>947</td>
<td>22</td>
<td>1743</td>
</tr>
<tr>
<td>27</td>
<td>Punjab</td>
<td>2587</td>
<td>6277</td>
<td>230</td>
<td>9094</td>
</tr>
<tr>
<td>28</td>
<td>Rajasthan</td>
<td>6666</td>
<td>19970</td>
<td>538</td>
<td>27174</td>
</tr>
<tr>
<td>29</td>
<td>Sikkim</td>
<td>155</td>
<td>88</td>
<td>0</td>
<td>243</td>
</tr>
<tr>
<td>30</td>
<td>Tamil Nadu</td>
<td>46717</td>
<td>107416</td>
<td>2236</td>
<td>156369</td>
</tr>
<tr>
<td>31</td>
<td>Telangana</td>
<td>13327</td>
<td>27295</td>
<td>396</td>
<td>41018</td>
</tr>
<tr>
<td>32</td>
<td>Tripura</td>
<td>676</td>
<td>1604</td>
<td>3</td>
<td>2283</td>
</tr>
<tr>
<td>33</td>
<td>Uttarakhand</td>
<td>937</td>
<td>2995</td>
<td>50</td>
<td>3982</td>
</tr>
<tr>
<td>34</td>
<td>Uttar Pradesh</td>
<td>15720</td>
<td>26675</td>
<td>1046</td>
<td>43441</td>
</tr>
<tr>
<td>35</td>
<td>West Bengal</td>
<td>13679</td>
<td>21415</td>
<td>1023</td>
<td>36117</td>
</tr>
<tr>
<td></td>
<td>Cases being reassigned to states</td>
<td>531</td>
<td></td>
<td></td>
<td>531</td>
</tr>
<tr>
<td></td>
<td colspan="1"><strong><span>Total#</span></strong></td>
<td align="right" style="text-align:right;"><strong>342473</strong></td>
<td>
<strong>635757</strong>
</td>
<td>
<strong>25602</strong>
</td>
<td>
<strong>1003832</strong>
</td>
</tr>
<tr>
<td align="center" colspan="6" style="text-align:center;"><strong>*(Including foreign Nationals)
</strong>
</td>
</tr>
<tr>
<td align="center" colspan="6" style="text-align:center;"><strong>**( more than 70% cases due to comorbidities )</strong>
</td>
</tr>
<tr>
<td align="center" colspan="6" style="text-align:center;"><strong>#States wise distribution is subject to further verification and reconciliation</strong>
</td>
</tr>
<tr>
<td align="center" colspan="6" style="text-align:center;"><strong>#Our figures are being reconciled with ICMR</strong></td>
</tr>
</tbody>
</table>]

In [9]:
co1=coronatable_india[0]

In [66]:
states=[]
total_cases=[]
cured_discharged_migrated=[]
deaths=[]

rows=co1.find_all('tr')[1:-6]
for row in rows:
    cell=row.find_all('td')
    states.append(cell[1].text.strip())
    total_cases.append(cell[2].text.strip())
    cured_discharged_migrated.append(cell[3].text.strip())
    deaths.append(cell[4].text.strip())
    
print(states)
print(total_cases)
print(cured_discharged_migrated)
print(deaths)

['Andaman and Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttarakhand', 'Uttar Pradesh', 'West Bengal']
['47', '18159', '387', '6818', '7549', '164', '1260', '179', '17407', '1272', '11289', '5495', '382', '5488', '2069', '30661', '5376', '176', '5562', '114947', '635', '309', '112', '525', '4436', '774', '2587', '6666', '155', '46717', '13327', '676', '937', '15720', '13679']
['133', '19393', '153', '12888', '14018', '476', '3451', '371', '97693', '1817', '32103', '18185', '984', '6446', '2513', '19729', '4862', '970', '14127', '158140', '1129', '66', '160', '391', '10877', '947', '6277', '19970', '88', '107416', '27295', '1604', '2995', '26675', '21415']
['0', '492', '3', '48', '197', '11', '21', '2', '3545', '19', '2089', '322', '11', '222', '42', '1032', '37', '1', '689', '11194', '0', '2', '0', '0', '79', '22', '230', '538', '0', '2236', '396', '3', '50', '1046', '1023']

In [67]:
df=pd.DataFrame(list(zip(states, total_cases, cured_discharged_migrated,deaths)), columns=["States", "Total_Cases", "Cured_Discharged_Migrated","Deaths"])
df

,States,Total_Cases,Cured_Discharged_Migrated,Deaths
0,Andaman and Nicobar Islands,47,133,0
1,Andhra Pradesh,18159,19393,492
2,Arunachal Pradesh,387,153,3
3,Assam,6818,12888,48
4,Bihar,7549,14018,197
5,Chandigarh,164,476,11
6,Chhattisgarh,1260,3451,21
7,Dadra and Nagar Haveli and Daman and Diu,179,371,2
8,Delhi,17407,97693,3545
9,Goa,1272,1817,19
10,Gujarat,11289,32103,2089
11,Haryana,5495,18185,322
12,Himachal Pradesh,382,984,11
13,Jammu and Kashmir,5488,6446,222
14,Jharkhand,2069,2513,42
15,Karnataka,30661,19729,1032
16,Kerala,5376,4862,37
17,Ladakh,176,970,1
18,Madhya Pradesh,5562,14127,689
19,Maharashtra,114947,158140,11194
20,Manipur,635,1129,0
21,Meghalaya,309,66,2
22,Mizoram,112,160,0
23,Nagaland,525,391,0
24,Odisha,4436,10877,79
25,Puducherry,774,947,22
26,Punjab,2587,6277,230
27,Rajasthan,6666,19970,538
28,Sikkim,155,88,0
29,Tamil Nadu,46717,107416,2236
30,Telangana,13327,27295,396
31,Tripura,676,1604,3
32,Uttarakhand,937,2995,50
33,Uttar Pradesh,15720,26675,1046
34,West Bengal,13679,21415,1023

In [68]:
df

,States,Total_Cases,Cured_Discharged_Migrated,Deaths
0,Andaman and Nicobar Islands,47,133,0
1,Andhra Pradesh,18159,19393,492
2,Arunachal Pradesh,387,153,3
3,Assam,6818,12888,48
4,Bihar,7549,14018,197
5,Chandigarh,164,476,11
6,Chhattisgarh,1260,3451,21
7,Dadra and Nagar Haveli and Daman and Diu,179,371,2
8,Delhi,17407,97693,3545
9,Goa,1272,1817,19
10,Gujarat,11289,32103,2089
11,Haryana,5495,18185,322
12,Himachal Pradesh,382,984,11
13,Jammu and Kashmir,5488,6446,222
14,Jharkhand,2069,2513,42
15,Karnataka,30661,19729,1032
16,Kerala,5376,4862,37
17,Ladakh,176,970,1
18,Madhya Pradesh,5562,14127,689
19,Maharashtra,114947,158140,11194
20,Manipur,635,1129,0
21,Meghalaya,309,66,2
22,Mizoram,112,160,0
23,Nagaland,525,391,0
24,Odisha,4436,10877,79
25,Puducherry,774,947,22
26,Punjab,2587,6277,230
27,Rajasthan,6666,19970,538
28,Sikkim,155,88,0
29,Tamil Nadu,46717,107416,2236
30,Telangana,13327,27295,396
31,Tripura,676,1604,3
32,Uttarakhand,937,2995,50
33,Uttar Pradesh,15720,26675,1046
34,West Bengal,13679,21415,1023